# IDE settings
.idea/

src/__pycache__

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment
.venv/

# Custom directory
askiseis/

# sklearn virtual env
sklearn-env/

# Alternative incomplete versions of search_engine.py
search_engine2.py
search_engine_original.py

# inverted index functions
inverterd_index.py